# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject[all,store]"]

  - repo: local
    hooks:
      - id: pyproject-toml-format
        name: Format pyproject.toml
        entry: pyproject-toml-format
        language: python
        files: ^pyproject\.toml$
        additional_dependencies: [".[ruff]"]

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/Mateusz-Grzelinski/actionlint-py
    rev: v1.7.9.24
    hooks:
      - id: actionlint
        additional_dependencies: [pyflakes>=3.0.1]
        args: [-shellcheck=]
